# Server Configuration
PORT=3000

# Client Configuration
# The URL of your frontend application (e.g., https://your-app.vercel.app or https://your-app.render.com)
CLIENT_URL=http://localhost:5173

# Database Configuration
DATABASE_URL="postgresql://neondb_owner:npg_VuHfdjEX1y4L@ep-little-block-ao4gyupu-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Redis Configuration
# The connection string for your Redis instance
REDIS_URL=redis://127.0.0.1:6379

# JWT Secret
JWT_SECRET=a470a599cff011b0c3aeac5b651be998b5c5e0fab98b789f146bb3b191e26641a491e4c42ca1cd97b1f3d00b828401ee653c4cc39ce9c338de8cbec4ee60596d
